#root {
  min-height: 100%;
}

.ant-select-clear {
  top: 40%
}

.main_wrapper {
  padding: 20px;
}

.note_card {
  background-color: #ffffb8;
  border: 1px solid #fff566;
  border-radius: 5px;
  display: flex;
  cursor: auto;
  margin-bottom: 10px;

  .ant-card-body {
    padding: 0;
    width: 100%;
  }

  &:hover {
    border: 1px solid #fff566;
  }
}

.note_body {
  height: 100%;
  padding: 0 15px 15px;

  textarea {
    padding: 0;
    border: none;
    outline: none;
  }
}

.tag_inline {
  color: #ad6800 !important;
  background-color: transparent;
}

.button_close {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  margin-left: auto;
  padding: 0;
  color: #595959;

  &:hover, &:active, &:focus {
    background: transparent;
    color: #ff4d4f;
  }
}

.button_add {
  height: 50px;
  background: #1890ff;
  color: #ffffff;
  border-radius: 25px;
  position: absolute;
  right: 16px;
  bottom: 16px;
  font-size: 16px;
  font-weight: 600;

  &:hover, &:active, &:focus {
    background: #096dd9;
    color: #ffffff;
  }
}

.mention {
  background: #ffe58f;
}
